* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #4F4D4D;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 15px;   
}

h1 {
    color: #a78bfa;
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #4F4D4D;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;

    background-color: #7f50cd;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #6d3fba;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
}

.signup-text a {
    color: #7f50cd;
    text-decoration: none;
    font-weight: bold;
}