@import url('https://googleapis.com');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #4F4D4D;
}

.title {
  color: #a78bfc;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #a78bfa;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d1c4f7;
}

.welcome-text {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 999px; /* fully rounded "pill" shape */
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-login,
.btn-signup {
  background-color: #7f50cd;
  color: white;
}

.btn-login:hover,
.btn-signup:hover {
  background-color: #7f50cd;
}

.search {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px;
  background-color: #4F4D4D;
}

#query {
  width: 1600px;             
  max-width: 450px;        
  padding: 12px 20px;      
  font-size: 16px;         
  border-radius: 25px;     
  border: 1px solid #ccc;
  outline: none;
  justify-content: center;
}

.trending_header {
  color: #a78bfc;
  font-weight: bold;
  font-size: 38px;
  padding-top: 30px;
  padding-left: 30px;
}

.placeholder-text {
  text-align: center;
  color: #666;
  margin-top: 40px;
  padding: 0 20px;
}